{% extends "layout.html" %}
{% block content %}

<section class="hero">
    <div class="hero-overlay"></div>

    <div class="container-fluid hero-content px-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <span class="badge hero-badge">FDA Recall Search</span>

                <h1 class="hero-title">
                    Stay updated on recalls that matter.
                </h1>

                <p class="hero-subtitle">
                    Search food, drug, and cosmetic recalls in one clean and simple place.
                </p>

                <div class="hero-buttons">
                    <a href="/food" class="btn btn-outline-light btn-lg">Food Recalls</a>
                    <a href="/drugs" class="btn btn-outline-light btn-lg">Drug Recalls</a>
                    <a href="/cosmetics" class="btn btn-outline-light btn-lg">Cosmetic Recalls</a>
                </div>
            </div>



        </div>
    </div>
</section>
{% endblock content %}
